# Auto detect text files and perform LF normalization
* text=auto
import random
a=int(input())
b=int(input())
l=[]
for i in range(a,b):
    l.append(int(i))
c=random.choice(l)
if c>0:
    print(c,"is Positive number")
else:
    print(c,"is Negative number")
if c%2==0:
    print(c,"is Even number")
else:
    print(c,"is Odd number")
if c>1:
    for i in range(2,int(c/2)+1):
        if(c%i)==0:
            print(c,"is Composite number")
            break-
    else:
        print(c,"is Prime number")
else:
    print(c,"is Composite number")